<h1>All Payments</h1>

<div class="row">
<%= form_for_filterrific @filterrific do |f| %>

  <div class="row">   
    <div class = "small-3 columns">
      Search
      <%= f.text_field(:search_query) %>
    </div>
    <div class = "small-3 columns">
      Sorted by
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    </div>  
    <div class= "small-3 columns">
      $ Greater Than
      <%= f.number_field(:amount_gte) %>
    </div>   
    <div class= "small-3 columns">
      $ Less Than
      <%= f.number_field(:amount_lte) %>
    </div>   
  </div>  

  <div class="row">
    <div class= "small-3 columns">
      Payment After
      <%= f.date_field(:date_gte) %>
    </div>
    <div class= "small-3 columns">
      Payment Before
      <%= f.date_field(:date_lte) %>
    </div>   
    <div class="small-3 columns">
      Select Payments
      <%= f.select(
        :selection,
        @filterrific.select_options[:selection],
        { include_blank: '- Any -' }
      ) %>
    </div> 
    <div class="right">
        <%= link_to('Reset filters', reset_filterrific_url, class: "button round tiny info button-down") %>
        <%= link_to 'Export As CSV', url_options = {action: "index", format: "csv"}, html_options = {class: "button round tiny success button-down"} %>
    </div>    
  </div>

  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>
</div>

<%= render(
  partial: 'payments/list',
  locals: { payments: @payments }
) %>

<br>
<hr>
<div class="small-12 columns medium-6">
<h3>Import CSV for NEW Payments</h3>
<p><strong>Required Headers:</strong> amount, date, member_first_name, member_last_name</p>
<p><strong>Additional Headers:</strong> note, dues, deposit_date, kind</p>
  <%= form_tag import_new_payments_path, multipart: true do %>
    <%= file_field_tag :file, required: :true %>
    <%= submit_tag "Import CSV", class: "button small success radius" %>
  <% end %>
</div>

<div class="small-12 columns medium-6">
<h3>Import CSV to UPDATE Paymentss</h3>
<p><strong>Instructions:</strong> Export csv above and update fields for payments that you want to update.  DO NOT CHANGE THE ID COLUMN. Then import here.</p>
  <%= form_tag import_update_payments_path, multipart: true do %>
    <%= file_field_tag :file, required: :true %>
    <%= submit_tag "Import CSV", class: "button small success radius" %>
  <% end %>
</div>
