<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Member</th>
      <th>Amount</th>
      <th>Dues?</th>
      <th>Note</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
    <% member = Member.find(payment.member_id) %>
      <tr>
        <td><%= payment.date %></td>
        <td><%= member.first_name %> <%= member.last_name %></td>
        <td>$<%= payment.amount %></td>
        <td><% if payment.dues %>
              <%= "YES" %>
            <% else %>
              <%= "NO" %>
            <% end %>
        </td>
        <td><%= payment.note %></td>
        <td><%= link_to 'Edit', edit_member_payment_path(member, payment) %></td>
        <td><%= link_to 'Member Info', member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

