<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Amount cents:</strong>
  <%= @payment.amount_cents %>
</p>

<p>
  <strong>Type:</strong>
  <%= @payment.type %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
