<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="columns small-12 medium-6 large-4 border-right" >
      <h5>Member Information - Required</h5>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :first_name, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :first_name %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :last_name, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :address, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :address, :required => true %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :address2, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :address2, placeholder: "Not Required" %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :city, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :city, value: "Austin", :required => true %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :state, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :state, value: "TX", :required => true %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :zip, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :zip, :required => true %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :title, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :title, placeholder: "Not Required" %>
        </div>
      </div>      
    </div>

    <div class="columns small-12 medium-6 large-4">
      <h5>Contact Information</h5>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :email, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.email_field :email %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :email2, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.email_field :email2 %>
        </div>
      </div>  
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :cell_phone, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.telephone_field :cell_phone %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :home_phone, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.telephone_field :home_phone %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :work_phone, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.telephone_field :work_phone %>
        </div>
      </div>
      <br><br>       
      <h5>Other Club Memberships</h5>
      <div class="field row panel">
      <% other_clubs.each do |c| %>
        <% if @member.clubs.include?(c) %>
          <%= check_box_tag("clubs[#{c}]", c, {checked: true}) %>
          <label for=<%= c %>><%= c %></label>     
        <% else %>
          <%= check_box_tag("clubs[#{c}]", c) %>
          <label for=<%= c %>><%= c %></label>     
        <% end %>
      <% end %>
      </div>
    </div>

    <div class="columns small-12 medium-6 large-4">
      <h5>Legally Required<br>Employment Information</h5>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :employer, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :employer, :required => true %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :occupation, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :occupation, :required => true %>
        </div>
      </div>
      <br><br>
      <h5>Mailing Information</h5>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :skip_mail, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.check_box :skip_mail %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :mail_name, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :mail_name, placeholder: "currently default value" %>
        </div>
      </div>
      <div class="field row">
        <div class="small-4 columns">
          <%= f.label :greeting, class: "right"%><br>
        </div>
        <div class="small-8 columns end">
          <%= f.text_field :greeting, placeholder: "currently default value" %>
        </div>
      </div>      
      <div class="actions row">
        <%= f.submit class: "button radius success right" %>
      </div>
    </div>
    
  
  </div>
  
<% end %>
