<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info members %>
  </div>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Zip</th>
        <th>Dues Last Paid</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= "#{member.first_name} #{member.last_name}" %></td>
          <td><%= member.address1 %></td>
          <td><%= member.zip %></td>
          <td><%= member.dues_paid %></td>
          <td><%= link_to 'Show', member_path(member), class: "tiny round info button" %></td>
          <td><%= link_to 'Edit', edit_member_path(member), class: "tiny round info button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate members %>