<h1>Membership</h1>


<div class="row">
<%= form_for_filterrific @filterrific do |f| %>
  <div class = "small-3 columns">
    Search
    <%= f.text_field(:search_query) %>
  </div>
  <div class = "small-3 columns">
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>  
  <div class = "small-3 columns">
    Mail Options Selection
    <%= f.select(
      :mail_select, 
      @filterrific.select_options[:mail_select],
      { include_blank: '- Any -' }) %>
  </div>   
  <div class= "small-3 columns">
    Dues Paid After
    <%= f.date_field(:last_dues_paid_gte) %>
  </div>  
  <div class="small-3 columns">
    Zip Code Selection
    <%= f.select(
      :zip_select,
      @filterrific.select_options[:zip_select],
      { include_blank: '- Any -' }) %>
  </div>
  <div class="small-3 columns">
    Tag Selection
    <%= f.select(
      :tag_select,
      @filterrific.select_options[:tag_select],
      { include_blank: '- Any -' }) %>
  </div>
  <div class="right">
      <%= link_to('Reset filters', reset_filterrific_url, class: "button round tiny info button-down") %>
      <%= link_to 'Export Members CSV', members_path(format: :csv, csv: "export_members_csv"), html_options = {class: "button round tiny success button-down"} %>
      <%= link_to 'Export Mailing CSV', members_path(format: :csv, csv: "export_mailing_csv"), html_options = {class: "button round tiny success button-down"} %>      
  </div>
  <%= render_filterrific_spinner %>
<% end %>
</div>



<%= render(
  partial: 'members/list',
  locals: { members: @members }
) %>

<br>
<hr>
<div class="small-12 columns medium-6">
<h3>Import CSV for NEW Members</h3>
<p><strong>Required Headers:</strong> first_name, last_name</p>
<p><strong>Additional Headers:</strong> address1, address2, city, state, zip, email, email2, cell_phone, home_phone, work_phone, employer, occupation, dues_paid, skip_mail, greeting, mail_name</p>
  <%= form_tag import_new_members_path, multipart: true do %>
    <%= file_field_tag :file, required: :true %>
    <%= submit_tag "Import CSV", class: "button small success radius" %>
  <% end %>
</div>


<div class="small-12 columns medium-6">
<h3>Import CSV to UPDATE Members</h3>
<p><strong>Instructions:</strong> Export csv above and update fields for users that you want to update.  DO NOT CHANGE THE ID COLUMN. Then import here.</p>
  <%= form_tag import_update_members_path, multipart: true do %>
    <%= file_field_tag :file, required: :true %>
    <%= submit_tag "Import CSV", class: "button small success radius" %>
  <% end %>
</div>
