<h1>Listing members</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Zip</th>
      <th>Email</th>
      <th>Email 2</th>
      <th>Cell phone</th>
      <th>Home phone</th>
      <th>Work phone</th>
      <th>Employer</th>
      <th>Occupation</th>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.address %></td>
        <td><%= member.zip %></td>
        <td><%= member.email %></td>
        <td><%= member.email2 %></td>
        <td><%= member.cell_phone %></td>
        <td><%= member.home_phone %></td>
        <td><%= member.work_phone %></td>
        <td><%= member.employer %></td>
        <td><%= member.occupation %></td>
        <td><%= member.title %></td>
        <td><%= link_to 'Show', member_path(member) %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
