<h1><%= combine_with_space([@member.title, @member.first_name, @member.last_name]) %></h1>

<div class="panel">
  
<p>
  <strong>Address:</strong>
  <%= combine_with_commas([@member.address, @member.city, @member.state, @member.zip]) %>
</p>

<p>
  <strong>Email Address(es):</strong>
  <%= combine_with_commas([@member.email, @member.email2])%>
</p>

<p>
  <strong>Phone Numbers:</strong>
  <%= phone_list %>
</p>

<p>
  <strong>Employment:</strong>
  <%= combine_with_commas([@member.occupation, @member.employer]) %>
</p>
</div>

<h3><%= @member.first_name %>'s Payments:</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Dues?</th>
      <th>Note</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @member.payments.order(date: :desc).each do |payment| %>
      <tr>
        <td><%= payment.date %></td>
        <td>$<%= payment.amount %></td>
        <td><% if payment.dues %>
              <%= "YES" %>
            <% else %>
              <%= "NO" %>
            <% end %>
        </td>
        <td><%= payment.note %></td>
        <td><%= link_to 'Edit', edit_member_payment_path(@member, payment), class: "tiny info button round" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3><%= @member.first_name %>'s Notes:</h3>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Date</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @member.notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= note.date %></td>
        <td><%= link_to 'Edit', edit_member_note_path(@member, note) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit Member Info', edit_member_path(@member), class: "button success radius" %> 
<%= link_to 'Add New Payment', new_member_payment_path(@member), class: "button success radius" %> 
<%= link_to 'Add New Note', new_member_note_path(@member), class: "button success radius" %>
<br>
