<h1><%= @member.full_name %></h1>


<div class =  "small-12 columns medium-8">
  <div class="panel">

  <% unless @member.email.blank? && @member.email2.blank? %>
  <p>
    <strong>Email Address(es):</strong>
    <%= combine_with_commas([@member.email, @member.email2])%>
  </p>
  <% end %>

  <% unless @member.cell_phone.blank? && @member.home_phone.blank? && @member.work_phone.blank? %>
  <p>
    <strong>Phone Numbers:</strong>
    <%= phone_list %>
  </p>
  <% end %>

  <% unless @member.employer.blank? && @member.occupation.blank? %>
  <p>
    <strong>Employment:</strong>
    <%= combine_with_commas([@member.occupation, @member.employer]) %>
  </p>
  <% end %>

  <% unless @member.dues_paid.nil? %>
  <p>
    <strong>Dues Last Paid:</strong>
    <%= @member.dues_paid %>
  </p>
  <% end %>  
  </div>

  <% if @member.addresses.present? %>
    <%= render(
      partial: 'members/member_addresses',
      locals: { member: @member }
    ) %>
  <% end %>

  <% if @member.payments.present? %>
    <%= render(
      partial: 'members/member_payments',
      locals: { member: @member }
    ) %>
  <% end %>

  <% if @member.notes.present? %>
    <%= render(
      partial: 'members/member_notes',
      locals: { member: @member }
    ) %>
  <% end %>
</div>

<div class="medium-3 columns right">
<%= link_to 'Edit Member Info', edit_member_path(@member), class: "button info radius expand" %> 
<%= link_to 'Add New Address', new_member_address_path(@member), class: "button info radius expand" %>
<%= link_to 'Add New Payment', new_member_payment_path(@member), class: "button info radius expand" %>
<%= link_to 'Add New Note', new_member_note_path(@member), class: "button info radius expand" %>
</div>
<br>

<div class="small-12 medium-8 columns" id ="tag_add">
  <% ActsAsTaggableOn::Tag.find_each do |tag| %>
    <% if @member.tag_list.include?(tag.name) %>
      <%= link_to tag.name, tag_member_path(@member, tag: tag.name), method: :post, class: "active" %>
    <% else %>
      <%= link_to tag.name, tag_member_path(@member, tag: tag.name), method: :post %>
    <% end %>
  <% end %>
</div>
